@fundo: #0099cc ;
@nav: #006699;
@foot: #032e58;
body{
    .bg-primary{
        background-color: @fundo !important;
    
    }

    #mainNav .navbar-nav li.nav-item a.nav-link.active {
        color: @fundo;
        
    }
    
    #mainNav .navbar-nav li.nav-item a.nav-link:hover{
        color: @foot !important;
        background-color: white!important;
        
    }
    button.bg-primary:hover {
        background-color: @fundo!important;
    }
    .bg-secondary {
        background-color: @nav !important;
    }
    .portfolio .portfolio-item .portfolio-item-caption{
        background-color: rgba(239, 135, 46, .6) !important;
    }
    .footer{
        background-color: @nav !important;
    }
    .copyright{
        background-color: @foot !important;
    }
    .portfolio-modal .close {
        color: @fundo;
    }
    
    #free{
        text-decoration: none !important;
        color: @nav;
        font-weight: 400;
        :hover{
            transition: 0.3s;
            color: red;
        }
    }
    .link-contato{
        text-decoration: none;
        color: white;
    }
    .link-contato:hover{
        transition: 0.6s;
        color: yellow;
        font-weight: 600;
    }
    #logo{
        width: 16%;
        height: auto;
    }
    .page-section .formulario-contato{
        margin-left: 35px;
    } 
    @media (min-width: 992px){
        #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
            color: #fff;
            background: @fundo;
        }
    }
    @media (max-width: 432px){
        #mainNav .navbar-brand{
            width: 185px !important;
        }
    }


        
}